{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

<!DOCTYPE html>

<html>
    <script src="https://accounts.google.com/gsi/client" async></script>

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">

    <nav class="navbar bg-dark justify-content-center">
    <div>
        <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link link-info" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-info" href="#contestsmodal" data-bs-toggle="modal" data-target="#contestsmodal">Contests</a>
            <div class="modal fade contestsmodal" tabindex="-1" role="dialog" aria-labelledby="contestsmodal" aria-hidden="true" id="contestsmodal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                <p>Login with Google to join photography contests!</p>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link link-info" href="#uploadmodal" data-bs-toggle="modal" data-target="#uploadmodal">Upload</a>
            <div class="modal fade uploadmodal" tabindex="-1" role="dialog" aria-labelledby="uploadmodal" aria-hidden="true" id="uploadmodal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                <p>Login with Google to start uploading photos!</p>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link link-info" href="{% provider_login_url 'google'%}?next=/">Login with Google</a>
        </li>
        </ul>
    </div>
    </nav>

    <h2 class="container text-center justify-content-center my-4 py-2">{% block title %} {% endblock %}</h2>    
    
    <body>
        {% block content %}{% endblock %}
    </body>
</html>

