{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

<!doctype HTML>

<body>

    {% if 'image' in document.type %}
        <img src="{{ document.document.url }}" alt="alt" width="500">
    {% endif %}
        
    {% if 'text' in document.type %}
        <object data={{document.document.url}} width="800" height="500"> 
    {% endif %}

    {% if 'pdf' in document.type %}
        <object data={{document.document.url}} width="800" height="500"> 
        </object> 
    {% endif %}

    
</body>