{% extends "website/base.html" %}

{% block title %} Polls{% endblock %}

{% block content %}
<div class="container mx-auto">
  <div>
    <a href="{% url 'website:createpoll' %}">Create a New Poll</a>
  </div>
  <div class="bg-light w-50 mx-auto shadow border border-info border-4 rounded">
      {% if latest_question_list %}
          <div class="list-group">
              {% for question in latest_question_list %}
                  <a href="{% url 'website:detail' question.id %}" class="list-group-item my-3 mx-3 py-3 border">{{ question.question_text }}</a>
              {% endfor %}
          </div>
      {% else %}
          <p>No polls are available.</p>
      {% endif %}
  </div>
</div>
{% endblock %}


