{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

<!DOCTYPE html>
<html>

    <style>
        body {
            background-image: url("{% static 'open_notebook.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <body class="container text-center my-5 mx-auto">
        <h1 >Feedback Report</h1>
        
        <a class="btn btn-primary mx-auto" href="{% provider_login_url 'google'%}?next=/">Login with Google</a>
    </body>

</html>