{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<style>
    #map {
        height: 100%;
    }
</style>

<script>
    // Initialize and add the map
    let map;

    async function initMap() {
    // The location of Uluru
    const position = { lat: -25.344, lng: 131.031 };
    // Request needed libraries.
    //@ts-ignore
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

    // The map, centered at Uluru
    map = new Map(document.getElementById("map"), {
        zoom: 4,
        center: position,
        mapId: "DEMO_MAP_ID",
    });

    // The marker, positioned at Uluru
    const marker = new AdvancedMarkerElement({
        map: map,
        position: position,
        title: "Uluru",
    });
    }

    initMap();

</script>

<html>
    <nav class="navbar bg-dark justify-content-center">
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link link-info" href="/">Polls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-info" href="{% url 'website:commentslist' %}">Comments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-info" href="{% url 'website:comments' %}">Submit a Comment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-info" href="{% url 'website:map' %}">Map</a>
            </li>
          </ul>
        </div>
    </nav>
    
    <br>
    
    <div id="map"></div>
    
    <script async
        src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
    </script>

</html>
