{% extends base_template %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container mx-auto w-75">
        <p><b>Title:</b> {{photograph.title}}</p>
        <p><b>Uploaded by:</b> {{photograph.user}}</p>
        <p><b>Description:</b> {{photograph.description}}</p>
    </div>
   
    <div class="container mx-auto text-center">
        <img src="{{ photograph.image.url }}" width="80%">
    </div>
    
    {% if user == photograph.user %}
    <div class="container mx-auto my-3 w-75">
        <div class="row">
            <div class="col-auto">
                <div class="">
                    <a class="btn btn-primary" href="{% url 'website:index' %}">Return to Home</a>
                </div>
            </div>
            <div class="col-auto">
                <div class="">
                    <form method="post" action="{% url 'website:delete_photograph' photograph.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" class="button button-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    {% endif %}

{% endblock %}