{% if photographs_col1 %}
    <div class="row">
        <div class="col">
            {% for photograph in photographs_col1 %}
                <div class="container mx-auto my-4">
                    <a href="{% url 'website:photograph_details' photograph.id %}"><img src="{{ photograph.image.url }}" class="w-100 shadow-1-strong rounded mb-4"></a>
                </div>
            {% endfor %}
        </div>

        <div class="col">
            {% for photograph in photographs_col2 %}
                <div class="container mx-auto my-4">
                    <a href="{% url 'website:photograph_details' photograph.id %}"><img src="{{ photograph.image.url }}" class="w-100 shadow-1-strong rounded mb-4"></a>
                </div>
            {% endfor %}
        
        </div>
        <div class="col">
            {% for photograph in photographs_col3 %}
                <div class="container mx-auto my-4">
                    <a href="{% url 'website:photograph_details' photograph.id %}"><img src="{{ photograph.image.url }}" class="w-100 shadow-1-strong rounded mb-4"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="text-center my-3">
        <p>No photos uploaded.</p>
    </div>
{% endif %}