<div class="row">
    <div class="col-lg-4  mb-4 mb-lg-0">
        {% for photograph in photographs_col1 %}
            <div class="container text-center mx-auto my-5">
                <a href="{% url 'website:photograph_details' photograph.id %}"><img src="{{ photograph.image.url }}" class="w-100 shadow-1-strong rounded mb-4"></a>
            </div>
        {% endfor %}
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        {% for photograph in photographs_col2 %}
            <div class="container text-center mx-auto my-5">
                <a href="{% url 'website:photograph_details' photograph.id %}"><img src="{{ photograph.image.url }}" class="w-100 shadow-1-strong rounded mb-4"></a>
            </div>
        {% endfor %}
     
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        {% for photograph in photographs_col3 %}
            <div class="container text-center mx-auto my-5">
                <a href="{% url 'website:photograph_details' photograph.id %}"><img src="{{ photograph.image.url }}" class="w-100 shadow-1-strong rounded mb-4"></a>
            </div>
        {% endfor %}
    </div>
</div>