{% extends "website/base.html" %}

{% block title %}
📷collections -- profile
{% endblock %}


{% block content %}

<div class="container mx-auto">
    <div class="container mx-auto py-4 px-4 w-50 bg-light shadow border">
        <p><b>Name: </b>{{user}}</p>
        <p><b>Username: </b>{{user.username}}</p>
    </div>

    <div class="container">
        <h4 class="text-center mx-auto w-75 mt-5">My Photos</h4>
        {% include "website/photogrid.html" with photographs_col1=photographs_col1 photographs_col2=photographs_col2 photographs_col3=photographs_col3 %}
    </div>
    
</div>

{% endblock %}