arrow
asgiref
attrs
beautifulsoup4
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-bootstrap-v5
django-debug-toolbar
django-heroku
django-storages
django-taggit
docker
docopt
gunicorn
ics
idna
jmespath
oauthlib
packaging
pipreqs
psycopg2
pycparser
PyJWT
PyPDF2
python-dateutil
python-dotenv
python-ics
python3-openid
requests
requests-oauthlib
s3transfer
six
soupsieve
sqlparse
TatSu
tzdata
whitenoise
yarg
